<header>
    <img class="logo" src="../../../assets/logo.jpg" alt="">
    <nav class="navprincipal">
        <a class="linknavprincipal" routerLink="Inicio">Inicio</a>
        <a class="linknavprincipal" routerLink="Peliculas" >Peliculas</a>
        <a class="linknavprincipal" routerLink="Series" >Series</a>
        <a class="linknavprincipal" routerLink="Ingresar" >Ingresar</a>
    </nav>
    <h1 class="titulopelisup">PelisUp!</h1>
    <h4 class="titulopelisup">Plataforma para ver peliculas y series</h4>
    <nav class="navchiquito">
        <div class="navchiquitodiv">
            <a class="linknavchiquito" routerLink="Inicio" [ngClass]="{'coloreado': botonSeleccionado === 1}" (click)="seleccionarBoton(1)">Inicio</a>
            <a class="linknavchiquito" routerLink="Peliculas" [ngClass]="{'coloreado': botonSeleccionado === 2}" (click)="seleccionarBoton(2)">Peliculas</a>
            <a class="linknavchiquito" routerLink="Series" [ngClass]="{'coloreado': botonSeleccionado === 3}" (click)="seleccionarBoton(3)">Series</a>
        </div>
    </nav>
    <input class="buscador" type="text">

</header>